# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/LibMica/obj
/LibMica/bin
/LibMica/LibMica.csproj
/LibMica/LibMica.csproj.user
/Example/.vs
/Example/obj
*.csproj
*.user
/LibMica/LibMica.csproj
/LibMica/LibMica.csproj.user
/LibMica/LibMica.csproj
/LibMica/.vs/LibMica/v17
/LibMica/.vs/LibMica/FileContentIndex
/Example/bin/Debug/net6.0-windows
/LibMica/.vs/ProjectEvaluation
/LibMaterial/.vs
/LibMaterial/bin/Debug
/LibMaterial/obj
